@page "/AdicionaApi"
@inject ICnaeService CnaeService

<PageTitle>Counter</PageTitle>

<h1>Buscar CNAE por ID</h1>

<form>
    <div style="margin-bottom: 8px">
        <label for="CnaeID"></label>
        <input type="number" id="cnaeidtext" class="form-control" @bind="_cnaeID"/>
    </div>
    <button type="button" class="btn btn-primary" @onclick=HandleSubmit>Pesquisar CNAE</button>
</form>

@code {

    private string _cnaeID;

    void HandleSubmit()
    {
        if (_cnaeID != null || _cnaeID != "")
        {
            _cnaeID = _cnaeID.Replace("-", "");

            var cnaeID = int.Parse(_cnaeID);
            CnaeService.BaixarCnaeApi(cnaeID);
        }
    }
}
